<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CodeVocab"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!-- Splash Screen -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.CodeVocab">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false" />

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.CodeVocab">
        </activity>

        <!-- Auth Flow -->
        <activity android:name=".ui.auth.RegisterActivity" android:exported="false" />
        <activity android:name=".ui.auth.ResetPasswordActivity" android:exported="false" />
        <activity android:name=".ui.auth.ConfirmOtpActivity" android:exported="false" />
        <activity android:name=".ui.auth.NewPasswordActivity" android:exported="false" />

        <!-- App Features -->

        <activity
            android:name=".ui.module.ModuleDetailActivity"
            android:label="Chi tiết Module"
            android:exported="false" />

        <activity
            android:name=".ui.flashcard.FlashcardActivity"
            android:exported="false" />
            
        <activity
            android:name=".ui.flashcard.FlashcardSummaryActivity"
            android:label="Kết quả học tập"
            android:exported="false" />
        <activity
            android:name=".ui.quiz.QuizActivity"
            android:exported="false" />
        <activity
            android:name=".ui.quiz.QuizSummaryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pronunciation.PronunciationActivity"
            android:exported="false" />

        <activity
            android:name=".ui.module.WordListActivity"
            android:label="Danh sách từ vựng"
            android:exported="false" />

        <activity
            android:name=".ui.word_detail.WordDetailActivity"
            android:exported="false" />

        <!-- Profile & Settings -->
        <activity
            android:name=".ui.theme.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.EditProfileActivity"
            android:exported="false" />

        <!-- Group Features -->
        <activity
            android:name=".ui.group.CommentListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.group.CreatePostActivity"
            android:exported="false" />
    </application>

</manifest>